body {
  background-color: #f1f1f1;
}

#regForm {
  background-color: #ffffff;
  margin: 100px auto;
  font-family: Raleway;
  padding: 40px;
  width: 70%;
  min-width: 300px;
}
input[type='text'] {
  padding: 10px;
  width: 100%;
  font-size: 10px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}
input[type='text']::placeholder{
  font-size: 14px
}
  input[type='submit'] {
  background-color: #4CAF50;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
}
input[type='submit']:hover {
  opacity: 0.8;
}